<form class="ui form fontfixer" [formGroup]="editForm">
  <h2 class="ui header" style="font-weight:bold; margin-bottom:15px;"><i class="barcode icon"></i>編輯套餐#{{mealset[0].setName}}</h2>
  <p></p>

  <div class="field" style="margin-top:30px;">
    <label>套餐名稱</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Mealset Name" formControlName="setName">
      </div>
    </div>
  </div>

  <div class="inline field" style="margin-top:30px;">
    <label>內含餐點</label>
      <button class="ui blue button" (click)="selectingItem()">
        <i class="hand pointer icon"></i>選擇餐點
      </button>
        <a  *ngFor="let selectedItem of selectedItems" class="big ui label">{{selectedItem}}</a>

  </div>

  <div class="fields" style="margin-top:30px;">
    <div class="three wide field">
      <label>零售價格</label>
      <input type="text" maxlength="3" placeholder="Price" formControlName="price">
    </div>
  </div>

  <div class="fields" style="margin-top:30px;">
    <div class="three wide field">
      <label>熱量</label>
      <input type="text" maxlength="3" placeholder="Calorie" formControlName="calorie">
    </div>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>條碼代號</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Barcode" formControlName="barcode">
      </div>
    </div>
  </div>

  <div class="inline field" style="margin-top:30px;">
    <label>上傳照片</label>
      <button class="ui blue button" style="padding-bottom:5px; padding-top:10px;">
        <input type="file" name="file" id="file" class="inputfile" />
        <i class="upload icon"></i><label for="file">選擇圖片</label>
      </button>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>架上狀態</label>
    <div class="two fields">
      <div class="field">
        <div class="ui toggle checkbox checked">
          <input type="checkbox" name="gift" formControlName="active">
          <label>上架中 / 已下架</label>
        </div>
      </div>
    </div>
  </div>

  <div class="ui form" style="margin-top:30px;">
    <div class="field">
      <label style="font-size:16px;">套餐介紹</label>
      <textarea formControlName="description"></textarea>
    </div>
  </div>

  <div class="breathe"></div>

  <div class="fixbutton">
    <div class="ui large buttons">
      <button class="ui primary button" (click)="createItem()">Save</button>
      <div class="or"></div>
      <button class="ui button" (click)="goBack()">Cancel</button>
    </div>
  </div>

</form>

<!--Modal Code Here-->
<div class="ui modal" [ngClass]="{'active': ngModal}">
  <i (click)="closeModal()" class="close icon"></i>
  <div class="header">
    餐點列表
  </div>
  <div class="image content">
    <button  *ngFor="let item of items" class="large ui purple basic button" (click)="itemSelected(item)">
      {{item.name}}
    </button>
  </div>
</div>
