<form class="ui form fontfixer" [formGroup]="createForm">
  <h2 class="ui header" style="font-weight:bold; margin-bottom:15px;"><i class="archive icon"></i>新增帳務</h2>

  <div class="inline field" style="margin-top:30px;">
    <label>會計科目</label>
    <button class="ui blue button" (click)="selectingSubject()">
      <i class="hand pointer icon"></i>選擇科目
    </button>
    <a *ngIf="selectedSubject" class="big ui label">{{selectedSubject.subjectName}}</a>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>金額</label>
    <div class="three fields">
      <div class="field">
        <input type="text" placeholder="Amount" formControlName="amount">
      </div>
    </div>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>數量</label>
    <div class="six fields">
      <div class="field">
        <input type="text" placeholder="Quantity" formControlName="quantity">
      </div>
      <div class="field" *ngIf="selectedSubject">
        <h3 style="margin-top:7px;">{{selectedSubject.unit}}</h3>
      </div>
    </div>
  </div>

  <div class="ui form" style="margin-top:30px;">
    <div class="field">
      <label style="font-size:16px;">該筆帳務備註</label>
      <div class="two fields">
        <div class="field">
          <textarea formControlName="notes"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="breathe"></div>

  <div class="fixbutton">
    <div class="ui large buttons">
      <button class="ui primary button" (click)="newAccounting()">Save</button>
      <div class="or"></div>
      <button class="ui button" (click)="goBack()">Cancel</button>
    </div>
  </div>

</form>

<!--Modal Code Here-->
<div class="ui modal page" [ngClass]="{'active show': ngModal}">
  <div class="header">
    <i (click)="closeModal()" class="close icon"></i> 會計科目
  </div>
  <div class="description">
    <div class="ui grid">
      <div class="small-breathe"></div>
      <div class="three column row">
        <div *ngFor="let subject of accountSubjects" class="column" style="text-align:center; padding:3px;">
          <button class=" ui blue basic button column" (click)="subjectSelected(subject)">{{subject.subjectName}}</button>
        </div>
      </div>
    </div>
</div>