<div class="ui left icon input">
  <input type="text" style="float:none; width:140px; text-align:center; height:50px;" placeholder="選擇日期" ngx-mydatepicker name="myDate"
       [options]="datePickerOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" (ngModelChange)="onChangeDate($event)" [(ngModel)]="dateModel" >
  <i class="large calendar icon"></i>
</div>

<table class="ui striped table">
  <thead>
    <tr>
      <th>餐別</th>
      <th>取餐方式</th>
      <th>購買人</th>
      <th>聯絡電話</th>
      <th>外送地址</th>
      <th>點餐內容</th>
      <th>總金額</th>
      <th>訂單備註</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let preorder of preorders" [routerLink]="[preorder._id]">
      <td>{{preorder.deliverPeriod}}</td>
      <td>{{preorder.serveWay}}</td>
      <td>{{preorder.buyerName}}</td>
      <td>{{preorder.phone}}</td>
      <td>{{preorder.deliverAddress}}</td>
      <td *ngIf="preorder.orderedItems || preorder.orderedMealSets">
        <p *ngFor="let orderedItem of preorder.orderedItems">{{orderedItem.itemId.name}} X {{orderedItem.quantity}}</p>
        <p *ngFor="let orderedMealSet of preorder.orderedMealSets">{{orderedMealSet.mealSetId.setName}} X {{orderedMealSet.quantity}}</p>
        <p>{{preorder.orderedItems.length + preorder.orderedMealSets.length}} 樣 , 共{{preorder.quantityCount}}個</p>
      </td>
      <td>{{preorder.total}}</td>
      <td>{{preorder.note}}</td>
    </tr>
  </tbody>
</table>