<form class="ui form fontfixer" [formGroup]="createForm">
  <h2 class="ui header" style="font-weight:bold; margin-bottom:15px;"><i class="barcode icon"></i>新增餐點</h2>
  <p></p>

  <div class="field" style="margin-top:30px;">
    <label>餐點名稱</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Meal Name" formControlName="name">
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field" style="margin-top:15px;">
      <label>餐點類別</label>
      <select class="ui fluid dropdown" formControlName="category">
        <option value="">選擇分類</option>
        <option value="肉料理">肉料理</option>
        <option value="魚料理">魚料理</option>
        <option value="主廚料理">主廚料理</option>
        <option value="蔬菜料理">蔬菜料理</option>
        <option value="單點">單點</option>
        <option value="飲品">飲品</option>
      </select>
    </div>
  </div>

  <div class="fields" style="margin-top:30px;">
    <div class="three wide field">
      <label>零售價格</label>
      <input type="text" maxlength="3" placeholder="Price" formControlName="price">
    </div>
    <div class="six wide field">
      <label>單位</label>
      <div class="two fields">
        <div class="field">
          <select class="ui fluid search dropdown">
            <option value="">選擇單位</option>
            <option value="盒">盒</option>
            <option value="個">個</option>
            <option value="杯">杯</option>
            <option value="份">份</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>條碼代號</label>
    <div class="two fields">
      <div class="field">
        <input type="text" placeholder="Barcode" formControlName="barcode">
      </div>
    </div>
  </div>

  <div class="inline field" style="margin-top:30px;">
    <label>上傳照片</label>
      <button class="ui blue button" style="padding-bottom:5px; padding-top:10px;">
        <input type="file" name="file" id="file" class="inputfile" />
        <i class="upload icon"></i><label for="file">選擇圖片</label>
      </button>
  </div>

  <div class="inline field" style="margin-top:30px;">
    <label>主要食材</label>
        <button class="ui blue button" (click)="selectingIngredient()">
          <i class="hand pointer icon"></i>選擇食材
        </button>
        <a *ngIf="selectedIngredient" class="big ui label">{{selectedIngredient}}</a>
  </div>

  <div class="field" style="margin-top:30px;">
    <label>架上狀態</label>
    <div class="two fields">
      <div class="field">
        <div class="ui toggle checkbox checked">
          <input type="checkbox" name="gift" formControlName="active">
          <label>上架中 / 已下架</label>
        </div>
      </div>
    </div>
  </div>

  <div class="ui form" style="margin-top:30px;">
    <div class="field">
      <label style="font-size:16px;">餐點介紹</label>
      <textarea formControlName="description"></textarea>
    </div>
  </div>

  <div class="breathe"></div>

  <div class="fixbutton">
    <div class="ui large buttons">
      <button class="ui primary button" (click)="createItem()">Save</button>
      <div class="or"></div>
      <button class="ui button" (click)="goBack()">Cancel</button>
    </div>
  </div>

</form>

<div class="ui modal" [ngClass]="{'active': ngModal}">
  <i class="close icon"></i>
  <div class="header">
    主要食材
  </div>
  <div class="image content">
    <button  *ngFor="let ingredient of mainIngredients" class="large ui olive basic button" (click)="ingredientSelected(ingredient)">
      {{ingredient.subjectName}}
    </button>
  </div>
</div>
<!--<form class="container" [formGroup]="createForm">

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">餐點類別</label>
    <div class="col-2">
      <select class="form-control" style="font-weight:bold" formControlName="category">
        <option style="font-weight:bolder" *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">餐點名稱</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">價　　格</label>
    <div class="col-2">
      <input class="form-control" type="email" formControlName="price">
    </div>
    <label class="col-0.5 col-form-label">單　　位</label>
    <div class="col-1">
      <select class="form-control" style="font-weight:bold" formControlName="unit">
        <option style="font-weight:bold" *ngFor="let unit of units">{{unit}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">條碼代號</label>
    <div class="col-4">
      <input class="form-control" type="tel" id="example-tel-input" formControlName="barcode">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">上傳圖片</label>
    <div class="col-4">
      <div class="form-group">
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" formControlName="image">
        <small id="fileHelp" class="form-text text-muted">請選擇解析度: 100x100 的圖片</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">主要食材</label>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="staticModal.show()">{{selectedIngredient || '選擇食材'}}</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">熱　　量</label>
    <div class="col-2">
      <input class="form-control" type="number" formControlName="calorie">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">狀　　態</label>
    <div class="col-2">
      <div class="mdc-switch">
        <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" formControlName="active" />
        <div class="mdc-switch__background">
          <div class="mdc-switch__knob"></div>
        </div>
      </div>
      <label for="basic-switch" class="mdc-switch-label">下架 / 上架</label>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">餐點描述</label>
    <div class="col-4">
      <input class="form-control" formControlName="description">
    </div>
    <div class="col-9">
      <button type="button" class="btn btn-danger btn-lg float-right">取消</button>
      <button type="button" class="btn btn-primary btn-lg float-right" (click)="createItem()">新增</button>
    </div>
  </div>
  
</form>



<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">主要食材</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item justify-content-between" *ngFor="let ingredient of mainIngredients" (click)="ingredientSelected(ingredient,bsModal)">
            {{ingredient.subjectName}}
            <span class="badge badge-default badge-pill">{{ingredient.subjectType}}</span>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>-->