<form class="container" [formGroup]="createForm">

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">餐點類別</label>
    <div class="col-2">
      <select class="form-control" style="font-weight:bold" formControlName="category">
        <option style="font-weight:bolder" *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">餐點名稱</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">價　　格</label>
    <div class="col-2">
      <input class="form-control" type="email" formControlName="price">
    </div>
    <label class="col-0.5 col-form-label">單　　位</label>
    <div class="col-1">
      <select class="form-control" style="font-weight:bold" formControlName="unit">
        <option style="font-weight:bold" *ngFor="let unit of units">{{unit}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">條碼代號</label>
    <div class="col-4">
      <input class="form-control" type="tel" id="example-tel-input" formControlName="barcode">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">上傳圖片</label>
    <div class="col-4">
      <div class="form-group">
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" formControlName="image">
        <small id="fileHelp" class="form-text text-muted">請選擇解析度: 100x100 的圖片</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">主要食材</label>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="staticModal.show()">{{selectedIngredient || '選擇食材'}}</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">熱　　量</label>
    <div class="col-2">
      <input class="form-control" type="number" formControlName="calorie">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">狀　　態</label>
    <div class="col-2">
      <div class="mdc-switch">
        <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" formControlName="active" />
        <div class="mdc-switch__background">
          <div class="mdc-switch__knob"></div>
        </div>
      </div>
      <label for="basic-switch" class="mdc-switch-label">下架 / 上架</label>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">餐點描述</label>
    <div class="col-4">
      <input class="form-control" formControlName="description">
    </div>
    <div class="col-9">
      <button type="button" class="btn btn-danger btn-lg float-right">取消</button>
      <button type="button" class="btn btn-primary btn-lg float-right" (click)="createItem()">新增</button>
    </div>
  </div>
  
</form>



<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">主要食材</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item justify-content-between" *ngFor="let ingredient of mainIngredients" (click)="ingredientSelected(ingredient,bsModal)">
            {{ingredient.subjectName}}
            <span class="badge badge-default badge-pill">{{ingredient.subjectType}}</span>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>
