<div class="wrapper">
  <div class="menu">
    <tabset [justified]="true">
      <tab heading="餐　　　點">
        <p></p>
        <div class="item-cards">
          <div class="item-card" *ngFor="let item of items">
            <p></p>
            <h3>&nbsp;&nbsp;{{item.name}}</h3>
            <a class="ui large blue tag label" style="margin-left:150px;">NT${{item.price}}</a>
          </div>
        </div>
      </tab>
      <tab heading="套　　　餐">
        <p></p>
        <div class="item-cards">
          <div class="item-card" *ngFor="let mealSet of mealSets">
            <p></p>
            <h3>&nbsp;&nbsp;{{mealSet.setName}}</h3>
            <a class="ui large blue tag label" style="margin-left:150px;">NT${{mealSet.price}}</a>
          </div>
        </div>
      </tab>
    </tabset>
    <p></p>
  </div>

  <div class="checkout-info">
    <div class="member-info">已選會員資訊</div>

    <div class="total">
      <div class="total-text">
        <p>Total : </p>
      </div>
      <div class="total-number">
        <p>NT$ &nbsp;&nbsp; 1000</p>
      </div>

    </div>

    <div class="options">
      <button class="huge ui button" (click)="selectingMember()"><i class="hand pointer icon"></i>會&nbsp;&nbsp;員</button>
      <button class="huge ui button"><i class="coffee icon"></i>內&nbsp;&nbsp;用</button>
      <button class="huge ui button"><i class="spoon icon"></i>外&nbsp;&nbsp;帶</button>
      <button class="huge ui button"><i class="star half empty icon"></i>九&nbsp;&nbsp;折</button>
      <button class="huge ui button"><i class="star half empty icon"></i>- &nbsp;&nbsp;5元</button>
      <button class="huge grey ui basic button"></button>
    </div>
  </div>

  <div class="notes">
    <textarea rows="4" cols="30" class="note" placeholder="訂單備註 ..."></textarea>
    <div class="tags">
      <a class="big ui grey label">男性</a>
      <a class="big ui grey label">女性</a>
      <a class="big ui grey label">老年人</a>
      <a class="big ui grey label">青壯年</a>
      <a class="big ui grey label">情侶</a>
      <a class="big ui grey label">常客</a>
      <a class="big ui grey label">家庭</a>
      <a class="big ui grey label">久待</a>
    </div>
  </div>

  <div class="checkout">
    <button class="massive ui primary button"><i class="shop icon"></i>
      結&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帳
    </button>
    <button class="massive ui red button clear-button"><i class="remove icon"></i>
      清&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除
    </button>
  </div>
</div>


<!--Members Modal Here-->
<div id="myModal" class="ui modal" style="width:1000px;" [ngClass]="{'active': ngMembersModal}">
    <div class="header">
      <i (click)="closeMembersModal()" class="close icon"></i>已註冊會員
    </div>
    <div class="description" style="padding-left:30px; margin-bottom:10px; overflow:auto; height:350px;">
      <div class="small-breathe"></div>
      <div class="ui category search" style="margin-top:10px; margin-bottom:10px; margin-left:15px;">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="輸入會員手機號碼..." #searchInput (keyup)="0">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="ui cards">
        <div class="card" *ngFor="let member of members">
          <div class="content">
            <div class="header">{{member.name}}</div>
            <div class="meta">{{member.phone}}</div>
            <div class="meta">累積金額 : {{member.unExchanged}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
