.wrapper{
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;

}

.menu{
    /* autoprefixer: off */
    border: 1px solid cornflowerblue;
    grid-row: 1/35;
}

.checkout-info {
    /* border: 1px solid darkcyan; */
    /* autoprefixer: off */
    grid-row: 1/35;
    display: grid;
    grid-row-gap: 0.3em;
    grid-template-rows: 2fr 1fr 2fr;
}

.member-info {
    border: 1px solid orange;
}

.total {
    /* border: 1px solid lightcoral; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 250%;
}

.total-text {
   /* padding-left: 35px; */
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.total-number {
    align-self: center;
    justify-self: start;
}

.options {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 1em;
}

.notes {
    /* autoprefixer: off */
    /* border: 1px solid indianred; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 35/53;
    grid-column-gap: 1em;
}

textarea {
    padding: 20px;
    font-size: 130%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 0 ;
}

.tags {
    /* border: 1px solid hotpink; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}

.label {
  align-self: center;
  justify-self: center;
}

.checkout {
    /* autoprefixer: off */
    /* border: 1px solid goldenrod; */
    grid-row: 35/53;
}

.checkout > button {
    font-size: 250%;
    align-self: center;
    margin-left: 2em;
}

.clear-button {
    margin-top: 1em;
}

