<div class="flexContainer">

  <div class="meal-display">
    <div class="ui pointing menu">
        <a class="item">
          餐盒與單點
        </a>
        <a class="item">
          套餐項目
        </a>
      </div>
      <div class="ui segment">
        <p></p>
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">匈牙利烤雞腿</div>
              <div class="meta">NT$100</div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">匈牙利烤雞腿</div>
              <div class="meta">NT$100</div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">匈牙利烤雞腿</div>
              <div class="meta">NT$100</div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">匈牙利烤雞腿</div>
              <div class="meta">NT$100</div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">匈牙利烤雞腿</div>
              <div class="meta">NT$100</div>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="checkout-area">
    餐點內容 
    <button class="ui massive primary basic button">選擇會員</button>
    <button class="ui massive primary basic button">內用</button>
    <button class="ui massive primary basic button">外帶</button>
  </div>

  <div class="onsite-note">
    客戶備註
  </div>

  <div class="customer-tag">
    會員資訊
  </div>

  <div class="checkout-button">
    <button class="ui massive green button">結帳</button>
    <button class="ui massive orange button">取消</button>
  </div>

</div>