<form class="container" [formGroup]="createForm">

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">會員姓名</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">會員生日</label>
    <div class="input-group col-4">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="birthday">
      <div class="input-group-addon" (click)="d.toggle()" >
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">手機號碼</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="phone">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">性別</label>
    <div class="col-2">
      <select class="form-control" style="font-weight:bold" formControlName="gender">
        <option style="font-weight:bolder" *ngFor="let gender of genders">{{gender}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">FB</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="facebook">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">E-Mail</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="email">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">住家地址</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="homeAddress">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="lgApartmentModal.show()">選擇住宅大樓</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">公司地址</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="officeAddress">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="lgOfficeModal.show()">選擇辦公大樓</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">年齡</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="age">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">體重</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="weight">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">身高</label>
    <div class="col-4">
      <input class="form-control" type="text" formControlName="height">
    </div>
  </div>

  <div class="col-9">
      <button type="button" class="btn btn-danger btn-lg float-right">取消</button>
      <button type="button" class="btn btn-primary btn-lg float-right" (click)="createMember()">新增</button>
  </div>

</form>


<div bsModal #lgApartmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">住宅大樓</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{apartmentBuildings}}
      </div>
    </div>
  </div>
</div>

<div bsModal #lgOfficeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">辦公大樓</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{officeBuildings}}
      </div>
    </div>
  </div>
</div>