<!-- Nav Header -->
<header class="navheader">
  <!--Menu Button -->
  <span (click)="openNav()">&#9776;</span>
  <!-- Sidebar -->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a [routerLink]="['']">營運資訊</a>
    <a [routerLink]="['items']">餐點管理</a>
    <a [routerLink]="['members']">會員管理</a>
    <a [routerLink]="['preorder']">預訂訂單</a>
    <a [routerLink]="['onsite']">現場點單</a>
    <a [routerLink]="['accounting']">帳務紀錄</a>
    <a [routerLink]="['sales']">銷售分析</a>
    <a [routerLink]="['finance']">財務分析</a>
  </div>
</header>

<div id="main">
  <router-outlet></router-outlet>
</div>
